body{
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
}
.container{
  margin: 0 30px;
}
/*pour le de text */
.textGras{
  font-weight: bold;
}
p{
  font-size: 14px;
  color: black;
}
h4{
  color: #000;
}
.colorNoir{
  color: #000;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
.colorBleu{
  color: #0065FC;
}
.colorGris{
  color: #F2F2F2;
}
.colorBleuClaire{
  color: #DEEBFF;
}
/*pour le background*/
.backBleu{
  background: #0065FC;
}
.backGris{
  background: #F2F2F2;
}
.backBleuClaire{
  background: #DEEBFF;
}

 /* partie header*/

header/*Titre du site (img reservia)*/
{
   margin: auto;
}
.blocheader{
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 130px;
  height: 80px;
}
/*Navigation du site*/
.menu {
  display: flex;
}
.lienAncre{  /*nav 2 liens mobile*/
  display: flex;
}

.inscrire {    /*lien Fixe*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.lien, .sign_up /*config des liens*/
{  
  font-size: 16px;
  padding: 30px;
  border-top: 3px solid transparent;
 }
  
 .lien:hover{
   color: #1462d6;
    border-top: 3px solid #0065FC ;
 }

 .lien-active
 {
    color: #1462d6;
    border-top: 3px solid #0065FC ;
 }

/*fin navigation site*/
/*partie map*/
.search{
    display: flex;
    justify-content:flex-start;
}
.fa-map-marker-alt{
    padding: 16px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border: 1px solid #F2F2F2;
    cursor:pointer;
}

.search-input{
    padding-left: 15px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #F2F2F2; 
}

.button{
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #F2F2F2;
    cursor:pointer;
    /*visibility:hidden dans media queries*/
}

.button:hover{
  background-color:rgb(36, 13, 252);
}

#icon-fa-search{
  visibility:hidden ; /*rendre insible dans media queries*/
  padding: 16px;
  border-radius: 15px;;
  border: 1px solid #F2F2F2;
  cursor:pointer;
  color: white;
  position: relative;
  right: 150px;
}
/* icon filter*/
.bloc-icon{
  display: flex;
  flex-wrap: wrap;  
}
.icon-filter{
  display: flex;
  align-items: stretch;
  background-color: transparent;
  border: 2px solid #DFDFDF;
  border-radius: 200px;
  padding: 0;
  cursor: pointer;
  /*margin-left: 35px;*/
  margin:10px;
}
.icon-filter:hover{
  background-color: #DEEBFF;
  border-color: #DEEBFF;
}
.icon-filter-icon{
  width: 55px;
  height: 55px; 
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -2px;
}
.icon-filter-text{
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  font-weight: 700;
}
.filter{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}
.info{
  display: flex ;
  align-items: center;
  margin-bottom: 30px; 
}
.fa-info{
  padding: 10px;
  border-radius: 50px;
  width: 16px;
  text-align: center;
  border: 2px solid #F2F2F2;
  margin-right: 18px;
}

/* section hebergement*/
.blocDeuxbloc{
  display: flex;
  justify-content: space-between; 
}
#hebergement{
  background-color: #F2F2F2;
  border-radius: 20px;
  flex: 1 70%;
}

#populaire{
  flex: 1 30%;
  background-color: #F2F2F2;
  border-radius: 20px;
  margin-left: 40px;
}
.lieu{ 
  padding-top: 30px;      
}
.tousCartes1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cube h4{
   width: 180px;
   margin: 0px 0 0 9px;
}

.carte1{
  height: 290px;
  margin: 15px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 4px 4px 11px #e2e2e2;
  flex: 0 29%; 
}
.blocP1{
  margin: 0;
  padding: 5px;
}
.prix{
  width: 150px;
  margin: 5px 0 0 9px;
}
.fas.fa-star
{
  margin: 8px -14px 0 9px;
}
img.cannebiere /*les images*/
{
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.afficher-plus{
  margin: 35px 42px;
  font-weight: bold;
  font-size: 15px;
}
/* section populaire*/
.titrePop{
  display: flex;
  align-items: center;
  justify-content:space-between;
  width: 90% ;
  margin:15px auto ;
}
.prix1
{
  font-size: 15px;
}
.note
{
  margin: 40px 0 0 -9px;
}
.tousCartes2{
 display: flex;
 flex-direction: column;
}

i.fas.fa-chart-line
{
 font-size: 23px;
}
.blockp2{
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 30px;
}
.matin
{
  flex: 1 40%;
  max-width: 40%;
  height: 100%;
  border-radius: 20px 0 0 20px;
  object-fit: cover;
}
.carte2{
  height: 220px;
  color: #000;
  display: flex;
  margin: 0 25px 0 25px; /*rajouter pour faire de marge gris*/
}

.cubeAside{
  margin-left: 10px;
}


/* partie activité -- */
#activiteAmarseille{
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
}
#activiteAmarseille p{
  font-size: 14px;
  font-weight: bold;
  margin-left: 26px;
}

.toucartesM{
  display: flex;
  justify-content: space-between;
}
.bloc1{
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 4px 4px 11px #e2e2e2;
  flex: 0 24%;
}

.vieux-port{
  border-radius: 20px 20px 0 0;
  height:550px;
  width: 100%;
  object-fit: cover;  
}

.bloc2{ /*BLOCK 2 photo et text*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 24%;
}

.grandImage{
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 4px 4px 11px #e2e2e2;
}

.fort{
  border-radius: 20px 20px 0 0;
  height: 290px;
  width: 100%;
  margin: 0 auto;
  object-fit: cover;  
}

.petiteImage /*Petite photo*/
{
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 4px 4px 11px #e2e2e2;
  width: 100%;
}
.iles{
  border-radius: 20px 20px 0 0;
  height: 190px;
  width: 100%;
  margin: 0 auto;
  object-fit: cover;  
}

p.titreIles{
  margin: 0 auto;
  padding: 9px 0px 9px 15px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  font-weight: bold;
}


.bloc3 /*BLOCK 3 Photo et legende*/
{
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 4px 4px 11px #e2e2e2;
  flex: 0 24%;
}
.calanque{
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 550px;
  object-fit: cover;
}
p.titreCalanque{
  margin: 0 auto;
  padding: 9px 0px 9px 15px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  font-weight: bold;
}
.bloc4 /*BLOCK 4 photo et text*/
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 24%;
}
.petiteImage1/*Petite photo*/
{
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 4px 4px 11px #e2e2e2;
}
.dame{
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.grandImage1/*Grande photo*/
{
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 4px 4px 11px #e2e2e2;
}
.parc{
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 290px;  
  object-fit: cover;
}

/* partie footer*/
.piedDepage{
  background-color:#F2F2F2 ;
  padding: 20px;
}
.flexFooter{
  margin: auto;
  display: flex;
  justify-content: flex-start;
}
.footTitre
{
 flex: 0 30%;
}

/*----media queries------*/


@media screen and (max-width: 900px){
 .flexFooter{
   flex-direction: column;
 }
 /*HEBERGEMENT*/
 .blocDeuxbloc{
   display: flex;
   flex-wrap: wrap-reverse;
 }
 .carte1{
  flex: 0 100%;   
 }
  .carte2{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;    
 }  
 }

@media screen and (max-width: 767px){
.container{
  margin: 0 auto;
}
/*liens ancre*/
.blocheader{
  display: flex;
  flex-direction: column;
  width: 475px;
}

.blocheader .titre{
  margin: 0 30px;
}

.margin-responsive{
  margin: 0 30px;
}

.menu{
  flex-direction: column-reverse;
  align-items: stretch;
}

.lien, .sign_up /*config des liens*/
{  
 font-size: 16px;
}
.lien{
  border-top: none;
  border-bottom: #DEEBFF 3px solid;
  margin-bottom: 5px;
  margin: auto;
  padding-bottom: 10px;
  display: flex;
  flex: 0 50%;
  justify-content:space-around;
}
.lien:hover{
  border-top:none;
  border-bottom: #0065FC 3px solid;
}

.lien-active{
  border-bottom: #0065FC 3px solid;
}
.inscrire{
  width: 100%;
  margin-top: -84px;
  display: flex;
  justify-content: flex-end;  
}
.icon-filter-text{
font-size: 16px;
}
.filter-title{
font-size: 14px;
}
#populaire{
 border-radius: 0;  
}

}
@media screen and (max-width: 632px){
header{
 margin: auto;
}
.button{
 visibility:hidden ;
}
#icon-fa-search{
 visibility: visible;
}
}

@media screen and (max-width: 450px){

.tousCartes2{
width:  475px;
}
.toucartesM{
 width:390px;
}

.lieu{
  width: 340px;
  margin-right:40px;
}

.tousCartes1{
 width:  410px;
}

.piedDepage{
 width: 435px;
 }
}

@media screen and (max-width: 1200px){

.blocDeuxbloc{
 display: flex;
 flex-wrap: wrap-reverse;
}
#populaire{
 margin: 0 auto;
}
#hebergement
{
  flex: 1 100%;
  background-color: transparent;
}
}
      

@media screen and (max-width: 1024px){

.toucartesM{
  flex-direction: column;
}

.toucartesM img {
  height: 250px;
}

.carte1{
  margin: 15px 0;
}

.blocP1{
  padding: 0;
}

.bloc1{
  margin: 10px 0;
}
.bloc2{
  margin: 10px 0;
}
.bloc3{
  margin: 10px 0 15px; 
}
.grandImage{
  width: 100%;
  margin-bottom: 10px;
}
.grandImage1{
  margin: 10px 0;
 
}
.petiteImage{
  margin-top: 10px;
}
.petiteImage1{
  margin-top: 5px;
  margin-bottom: 10px;
}
}
